
<mat-toolbar color="">
  <mat-toolbar-row class="toolbar">
    <img src="../../assets/logo.png" alt="" width="90px" height="45px">
    <button mat-button (click)="opened=!opened"  ><mat-icon >menu</mat-icon>  </button>
    <button mat-button  routerLink="./home"><mat-icon>home</mat-icon>  Home</button>
    
  </mat-toolbar-row>
  
</mat-toolbar> 

<mat-sidenav-container>

<mat-sidenav [(opened)]="opened" mode="push"> 
 <mat-list>
  <mat-list-item><mat-icon aria-hidden="false" aria-label=" home icon" fontIcon="account_circle"></mat-icon>
    <a routerLink="./register">  Register</a></mat-list-item><br>

    <mat-list-item><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>
      <a routerLink="./invoice">View Invoice</a>
      </mat-list-item>
      <br>
     
      <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
       Notifications
     </button>
   
    <br><br><br>
    <mat-list-item>
     <mat-icon title="login" matTooltip="Press to login" fontIcon="login"></mat-icon><a routerLink="./login"> login</a></mat-list-item><br><br><br>
 </mat-list>




</mat-sidenav>

<mat-sidenav-content>
  <router-outlet></router-outlet>
  <div class="example-container">
     
    </div>
</mat-sidenav-content>
</mat-sidenav-container>


